$color-dark: #424874;
$color-light: #d6e5e3;
$color-med: #a6b1e1;

.control {
    border: solid black 1px;
    margin-left: 5%;
    margin-right: 5%;

    .control-display {
        text-align: center;
        font-size: 16pt;
    }

    .control-display-value {
        font-weight: bold;
        width: 50px;
        border: none;
        border-bottom: dashed black 1px;
        font-size: 16pt;
        text-align: center;
    }

    .control-buttons {
        display: flex;
        justify-content: center;
    }

    .btn {
        display: inline-block;
        width: 200px;
        margin: 10px;
        height: 50px;
        background-color: grey;
        border-radius: 15px;
        cursor: pointer;
    }
        
    .btn-control {
        background-color: $color-dark;

        span {
            display: block;
            color: white;
            font-size: 32pt;
            font-weight: bolder;
            text-align: center;
            transform: translateY(-10%);
        }
    }
}

.set-button {
   display: flex;
   justify-content: center;
   padding: 10px;
}

@keyframes set-click {
    0% {
        box-shadow: 5px 2px 5px rgba(0,0,0,0.5);
    }
    50% {
        box-shadow: none;
        transform: translate(-5px, -2px);
    }
    100% {
        box-shadow: 5px 2px 5px rgba(0,0,0,0.5);
    }
}

.btn-set {
    background-color: $color-light;
    color: $color-dark;
    text-align: center;
    display: inline-block;
    width: 150px;
    border-radius: 10px;
    border: black solid 1px;
    box-shadow: 5px 2px 5px rgba(0,0,0,0.5);
    cursor: pointer;

    &:active {
        animation: set-click 0.5s ease-in-out;
    }
}