.header {
    padding: 5%;

    .header-title {
        display: inline-block;
        font-size: 16pt;
        border-bottom: solid black 1px;
        width: 100%;
    }

    .temp-table {
        font-size: 32pt;
        color: white;
        display: table;
        width: 100%;
        table-layout: fixed;

        .temp-display {
            display: inline-block;
            width: (100% / 3);
            text-align: center;
            margin-top: 15px;
            min-width: 250px;
        }

        .display-title {
            font-size: 16pt;
            color: black;
            display: block;
        }

        .temp-value {
            display: block;
            width: 50%;
            min-width: 125px;
            transform: translateX(50%);
        }

        .temp-main {
            background-color: rgba(62, 229, 118, 1);
            border-radius: 20px;
        }

        .temp-secondary {
            background-color: rgba(62, 156, 229, 1);
            border-radius: 20px;
        }

        .temp-tertiary {
            background-color: rgba(229, 229, 62, 1);
            border-radius: 20px;
        }
    }
}