$color-dark: #424874;
$color-light: #d6e5e3;
$color-med: #a6b1e1;

.header {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;

    .header-title {
        display: inline-block;
        font-size: 16pt;
        border-bottom: solid black 1px;
        width: 100%;
    }

    .temp-table {
        font-size: 32pt;
        color: white;
        display: table;
        width: 100%;
        table-layout: fixed;

        .temp-display {
            display: inline-block;
            width: (100% / 3);
            text-align: center;
            margin-top: 15px;
            min-width: 250px;
        }

        .display-title {
            font-size: 16pt;
            color: black;
            display: block;
        }

        .temp-value {
            display: block;
            width: 50%;
            min-width: 125px;
            transform: translateX(50%);
        }

        .temp-main {
            background-color: $color-med;
            border-radius: 20px;
        }

        .temp-secondary {
            background-color: $color-med;
            border-radius: 20px;
        }

        .temp-tertiary {
            background-color: $color-med;
            border-radius: 20px;
        }
    }
}