$color-dark: #424874;
$color-light: #d6e5e3;
$color-med: #a6b1e1;

.App {
    width: 80vw;
    height: 100vh;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
}